@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=STIX+Two+Math&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "STIX Two Math", serif;
}
body::before {
  content: "";
  position: absolute;
  background: url(/img/pexels-sanni-sahil-2565919.jpg) no-repeat center
    center/cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
.container-top {
  width: 100%;
  height: 100vh;
}
.name {
  color: #a03c78;
  padding-top: 5.5rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
}
.description {
  margin-top: 10px;
  text-align: center;
  font-size: 3rem;
}
.pro {
  color: #7c83fd;
  text-decoration: underline;
}
#pic {
  position: absolute;
  top: 80px;
  left: 930px;
  width: 200px;
}
.contianer-mid {
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
  margin: auto auto;
}
.contianer-mid img {
  width: 200px;
  display: block;
  margin: auto;
  padding: 20px;
}
h2 {
  color: #66bfbf;
  line-height: 2;
}
h3 {
  padding: 1rem;
  color: #66bfbf;
}
p {
  line-height: 2;
}
.dots {
  font-size: 4rem;
  color: #eaf6f6;
}
.skills {
  text-align: left;
  font-size: 1.2rem;
  width: 50%;
  margin: auto;
}
.heading {
  text-align: center;
  font-size: 3rem;
}
#html {
  margin-top: 20px;
  margin-right: 10px;
  width: 150px;
  display: inline-block;
  float: left;
}
#css {
  margin-top: 80px;
  margin-left: 10px;
  width: 150px;
  display: inline-block;
  float: right;
}
#desc {
  margin-top: 50px;
}
.dot {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 4rem;
  color: #eaf6f6;
}
.getintouch {
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
  margin: auto auto;
}
button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 20px;
}
button:hover {
  font-size: 1.1rem;
}
.footer {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
  height: 150px;
  background-color: #66bfbf;
}
.footer a {
  display: inline-block;
  margin: 30px 5px;
  color: #11999e;
}
.footer-span {
  margin: 10px;

  display: block;
  color: white;
}
